.back_button {
  justify-self: start;

  display: flex;
  gap: 0.25em;
  align-items: center;

  & > svg {
    translate: 0;
    transition: 0.25s ease-out;
  }
}

.back_button:is(:hover, :focus) > svg {
  translate: -0.25em;
}

.header {
  display: grid;
  gap: 0.5em;
}

.description {
  white-space: break-spaces;
  word-break: break-word;
}

.tasks {
  display: grid;
  padding-bottom: 2em;
}
