* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: Domine, sans-serif;

  font-variation-settings:
    "wght" var(--font-wght),
    "wdth" var(--font-wdth);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", serif;
}

html,
body {
  background-color: var(--background-color);
}

img {
  max-width: 100%;
}

:focus-visible {
  outline: 0.25em solid var(--outline-color);
  outline-offset: 0.25em;
}
